/* body {
    background: #313131;
}

#home {
    background: #ffffff;
}

.inner p {
    color: #000;
}

.bg-gray1 {
    background: #4e4e4e;
    color: white;
}
#right, #left {
    color: black;
}

.info-area i,
.info-area h5 {
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

.card-body p {
    color: #000;
}

.bottom-nav-mobile p {
    color: #000;
}

.footer-grid-container {
    padding: 25px;
    border-radius: 20px;
    background: #4e4e4e;
    color: #f0f0f0;
}

.footer-grid-container a {
    color: #f0f0f0;
}

.product-details {
    color: white;
}
.product-details .num {
    color: #000;
}

.product-details h2,
.product-details h3 {
    color: white;
}

.registration {
    color: white;
}

.cart-counter {
    background-color: var(--theme);
}

.new-carousel .new-card {
    background: #4e4e4e;
    color: white;
}

.btn-dark {
    background: #efa017;
    border: none;
} */
